<div id="cubic-limit" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="review-booking-close" data-dismiss="modal" aria-hidden="true" class="close"><i class="icon s7-close"></i></button>
                <h3>Cubic Volume Limit Reached</h3>
            </div>

            <div class="modal-body">
                <div id="modal-cont" class="row">
                  <div id="review-body" class="text-center">
                            <div class="i-circle text-success"><i class="icon s7-check"></i></div>

                            <h4>The Cubic Volume Limit Has Been Reached</h4>
                            <h4>Please Call Us To Arrange A Special Move</h4>

                        </div>
                    </div>


            </div>
                <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>

            </div>
        </div>
    </div>
</div>
