<style>
/* Padding - just for asthetics on Bootsnipp.com */
body { margin-top:20px; }

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
</style>


<div navi></div>

<div class="row wizard-row">
            <div class="col-md-6 col-md-offset-3 fuelux">
              <div class="block-wizard panel panel-default">
                <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">
                    <li data-step="1" ng-click="showCheckoutStep(1)">Details<span class="chevron"></span></li>
                      <li data-step="2" ng-click="showCheckoutStep(2)">Review <span class="chevron"></span></li>
                    <li data-step="3" ng-click="showCheckoutStep(3)"  class="active">Payment<span class="chevron"></span></li>
                  </ul>
                  <div class="step-content">
                    <div  data-step="1" class="step-pane active">
                       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
                        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>

                        <div class="container col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-offset-2 col-md-8">
                            <div class="row">

                              <div class="panel panel-primary panel-borders">
                                <div class="panel-heading panel-color"><span class="title">Card Details</span>
                                  
                                  
                                  </div>
                                  <div class="panel-body">




                                    <div class="panel panel-default credit-card-box">
                                        <div class="panel-heading display-table" >
                                            <div class="row display-tr" >
                                                <h3 class="panel-title display-td accepted" >Accepted Cards</h3>
                                                <div class="display-td" >
                                                    
                                                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">

                                            <form method="POST" id="payment-form">
                                                  <span class="payment-errors"></span>

                                                  <div class="row">
                                                      <div class="col-xs-12">
                                                          <div class="form-group">
                                                            <label for="cardNumber">CARD NUMBER</label>
                                                              <div class="input-group">
                                                              <input id="card-number" ng-model="ccDeets.number" type="text" size="20" class="form-control" data-stripe="number">
                                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                                  </div>
                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label>
                                                              <span>Exp (MM)</span>
                                                              <input id="exp-mm" maxlength="2" ng-model="ccDeets.expMonth" class="form-control" type="text" size="4" data-stripe="exp_month">

                                                            </label>

                                                          </div>
                                                     </div>

                                                     <div class="col-xs-12 col-md-4">
                                                         <div class="form-group">
                                                            <label>
                                                              <span>Exp (YY)</span>
                                                              <input id="exp-yy" maxlength="2" ng-model="ccDeets.expYear" type="text" class="form-control" size="4" data-stripe="exp_year">
                                                            </label>
                                                        </div>
                                                      </div>

                                                     <div class="col-xs-12 col-md-4">
                                                         <div class="form-group">
                                                            <label>
                                                              <span>CVC (3 digits)</span>
                                                              <input id="cvc" maxlength="3" ng-model="ccDeets.expCvc" class="form-control" type="text" size="4" data-stripe="cvc">
                                                            </label>
                                                        </div>
                                                      </div>
                                                </div>



                                                  <div class="row">
                                                      <div class="col-xs-12 col-md-12">
                                                          <div class="form-group">
                                                            <label>
                                                              <span>Billing Postcode</span>
                                                              <input id="billing-postcode" class="form-control" ng-model="ccDeets.zip" type="text" size="6" data-stripe="address_zip">  
                                                            </label>
                                                         </div>
                                                        </div>
                                                    </div>
                                                  <br>

                                                  <div class="row">
                                                      <div class="col-xs-12">
                                                          <input id="pay-deposit" type="submit" class="submit subscribe btn btn-success btn-lg btn-block col-md-6" value="Pay Deposit | £{{jobDeets.deposit}}" >
                                                      </div>
                                                  </div>
                                                <div class="row">
                                                <span class="pull-right pbs-margin" ><img src="assets/img/pbs.png"></img></span>
                                                </div>
<!--
                                            <div class="row">
                                                <span class="pull-right pbs-margin" ><img src="assets/img/secured-by-stripe.gif"></img></span>
                                                </div>
                                            
                                            <div class="row">
                                                <span class="pull-right pbs-margin" ><img src="assets/img/pbs3.png"></img></span>
                                                </div>
                                                
-->
                                                </form>
                                        </div>
                                    </div>
            <!-- CREDIT CARD FORM ENDS HERE -->
          </div>
                                          </div>
                                      </div>




        </div>


    </div>

                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <a href="/checkout-2"><button class="btn btn-default btn-space wizard-next pull-right"><i class="icon s7-angle-left"></i>Back</button></a>
                          </div>
                        </div>
</div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>

<!--

<div navi></div>

<div class="row wizard-row">
    <div class="col-md-12 fuelux">
        <div class="block-wizard panel panel-default">
            <div id="wizard1" class="wizard wizard-ux">
                <ul class="steps">
                    <li data-step="1" ng-click="showCheckoutStep(1)">Booking Review<span class="chevron"></span></li>
                    <li data-step="2" ng-click="showCheckoutStep(2)">Add Contact Details<span class="chevron"></span></li>
                    <li data-step="3" ng-click="showCheckoutStep(3)" class="active">Payment<span class="chevron"></span></li>
                </ul>
                <div class="step-content">
                    <div  data-step="1" class="step-pane active">
                        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
                        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>

                        <div class="container">
                            <div class="row">
                                <!-- You can make it whatever width you want. I'm making it full width
                                on <= small devices and 4/12 page width on >= medium devices
                                <div class="col-xs-12 col-md-4">


                                    <div class="panel panel-default credit-card-box">
                                        <div class="panel-heading display-table" >
                                            <div class="row display-tr" >
                                                <h3 class="panel-title display-td" >Payment Details</h3>
                                                <div class="display-td" >
                                                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">

                                            <form action="/your-charge-code" method="POST" id="payment-form">
                                                  <span class="payment-errors"></span>

                                                  <div class="row">
                                                      <div class="col-xs-12">
                                                          <div class="form-group">
                                                            <label>
                                                              <span>Card Number</span>
                                                              <input type="text" size="20" class="form-control" data-stripe="number">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-4 col-md-4">
                                                        <div class="form-group">
                                                            <label>
                                                              <span>Expiration (MM)</span>
                                                              <input class="form-control" type="text" size="4" data-stripe="exp_month">
                                                            </label>

                                                          </div>
                                                     </div>

                                                     <div class="col-xs-4 col-md-4">
                                                         <div class="form-group">
                                                            <label>
                                                              <span>Expiration (YY)</span>
                                                              <input type="text" class="form-control" size="4" data-stripe="exp_year">
                                                            </label>
                                                        </div>
                                                      </div>

                                                     <div class="col-xs-3 col-md-3 pull-right">
                                                         <div class="form-group">
                                                            <label>
                                                              <span>CVC</span>
                                                              <input class="form-control" type="text" size="4" data-stripe="cvc">
                                                            </label>
                                                        </div>
                                                      </div>
                                                </div>

                                                  <div class="row">
                                                      <div class="col-xs-12 col-md-12">
                                                          <div class="form-group">
                                                            <label>
                                                              <span>Billing Postcode</span>
                                                              <input class="form-control" type="text" size="6" data-stripe="address_zip">
                                                            </label>
                                                         </div>
                                                        </div>
                                                    </div>
                                                  <br>

                                                  <div class="row">
                                                      <div class="col-xs-12">
                                                          <input type="submit" class="submit subscribe btn btn-success btn-lg btn-block col-md-6" value="Pay Deposit">
                                                      </div>
                                                  </div>
                                                </form>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-default btn-space">Go back to booking page</button>
                                            <button  ng-click="back2()" class="btn btn-primary btn-space wizard-next"><i class="icon s7-angle-left"></i>Back Step</button>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-offset-2 col-md-4">
                                    <div class="panel panel-alt4">
                                        <div class="panel-heading">
                                            <div class="tools"></div><span class="title">Price Information</span>
                                        </div>
                                        <div class="panel-body">
                                            <p><strong>Full Price</strong> £{{jobDeets.estiCalc}} </p>
                                            <p><strong>Deposit To be paid <b>now</b></strong> <span class="deposit-price">£{{jobDeets.deposit}}</span></p>
                                            <p><strong>Refund Policy</strong> A refund can be given at any time before a driver has been dispatched </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-offset-2 col-xs-12 col-md-4" style="font-size: 12pt; line-height: 2em;">
                                    <p><h1>Features:</h1>
                                        <ul>
                                            <li>As-you-type, input formatting</li>
                                            <li>Form field validation (also as you type)</li>
                                            <li>Graceful error feedback for declined card, etc</li>
                                            <li>AJAX form submission w/ visual feedback</li>
                                            <li>Creates a Stripe credit card token</li>
                                        </ul>
                                    </p>
                                    <p>Be sure to replace the dummy API key with a valid Stripe API key.</p>

                                    <p>Built upon: Bootstrap, jQuery,
                                        <a href="http://jqueryvalidation.org/">jQuery Validation Plugin</a>,
                                        <a href="https://github.com/stripe/jquery.payment">jQuery.payment library</a>,
                                        and <a href="https://stripe.com/docs/stripe.js">Stripe.js</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
