<body>
    <div class="am-wrapper am-nosidebar-left">
        <nav class="navbar navbar-default navbar-fixed-top am-top-header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="page-title">
                        <span class="pull-left"><img src="assets/img/smallvc.png"></img></span>
                    </div>
                    <a href="/instant" class="navbar-brand"></a>
                </div>
                <a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed">
                    <span class="icon s7-menu"></span>
                </a>
                <div id="am-navbar-collapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav am-nav-right">
              <li><a href="/">Home</a></li>
              <li><a href="/faq" target="_blank">FAQ</a></li>
              <li data-toggle="modal" data-target="#mod-warning"><a target="_blank" href="/contact" ng-click="isEmailSent == false">Contact us</a></li>
            </ul>

                    <ul class="nav navbar-nav am-nav-right pull-right">
              <li><a ></a></li>

            </ul>
                </div>
            </div>
        </nav>
        <div class="am-content">

        </div>

    </div>







    <!-- Refund FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-refund" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">What is your refund policy</h4>
                </div>
                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>Full refunds will be given to all customers as long as the request is made before the driver has been despatched to your job. Once the driver has despatched your deposit will no longer be refundable. </li>
                                <li>To make a cancellation and retrieve a full refund please send us an email, with the subject “job cancelation”. In the email please list the job ID and the date of the move. Once this is done we will reply to you within 24 hours with a job cancellation notification and the refund will be processed within 48 hrs and will reach your account within 7 days . </li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

      <!-- Refund FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-pickupTime" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title"> What happens if our driver doesn’t turn up</h4>
                </div>
                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>Once you have made a booking we will allocate your job to one of our drivers. Once your job has been allocated you will be sent an email with the contact details for your driver. This will allow you to contact you driver if they are running behind or if you have any changes you need to make to your order.</li>
                                <li>If for any reason you cannot get in touch with your driver and you are concerned that he may not be able to attend your booking. You can give us a call on 07852806618 and we will be able to either get in touch with your driver or will be able to reallocate to another should there be a reason your driver cannot attend.</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>


  <!-- payment FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-payment" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title"> My payment is not working</h4>
                </div>
                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>Payments may not work for the following reasons</li>
                                  <ol>
                                      <li>Your long card number on the front of the card is incorrect</li>
                                      <li>Your Expiry date is not correct</li>
                                      <li>The 3 digits on the back of the card is incorrect</li>
                                      <li>You have insufficient funds in your account</li>
                                  </ol>
                                  <li>If none of the above reasons are correct then please call us on 07852806618, so that we can process the order over the phone.</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-itemQty" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">I have reached the cubic feet limit</h4>
                </div>
                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>Our website calculates the cubic feet of all the things you want to be delivered. However if this cubic feet extends beyond 700 cubic we ask you to give us a call as this is a bigger job task the usual and we want to make sure we estimate the job properly and make sure we allocate to the correct type of driver. </li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-vanSize" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                 <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">How do I know the right sized van is coming</h4>
                </div>
                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>Our website calculates the cubic feet of all the things you want to be delivered and allocates the correct type of driver, which you will be able to see when you are inputting your items. If for any reason you feel like the van that we are allocating is not the one you need please give call our customer service team on 07852806618 and we will book that in manually for you.</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-dropOffs" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">I need extra drop offs</h4>
                </div>
                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>If you need extra pickups or drop-offs on the your delivery route then all you have to do is input the start and end address, and in the “extra instructions for driver” type in the extra post codes you want to add to the route. This will not be estimated in the initial amount. Instead the route points will be calculated hourly by the driver on the day.</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-paymentPolicy" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">I don’t want to pay by card can I pay by cash</h4>
                </div>
                <div class="modal-body">

                          <hr>
                              <ol>
                                <li>Unfortunately all deposits must be paid before we can complete a booking and all deposits need to be made by card.</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-paymentPolicy" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                 <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">How does payment work </h4>
                </div>

                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>Once you are ready to book we will ask for a deposit of 25% of the total booking cost. </li>
                                  <li>This will then be deducted from the total cost to leave you with the “balance to pay on delivery”</li>
                                  <li>This will have to then be paid by cash to our driver on the day of the delivery. If you need to pay the rest of the payment by card you need to call our customer service line and we will take the payment over the phone.</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-addingItems" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">

                 <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">What happens if I want to add more items to my delivery later on </h4>
                </div>
                <div class="modal-body">
                      <hr>
                              <ol>
                                <li>If after you have completed your booking you realise you want to add extra items to your delivery send us an email or give us a call to add these. You may be charged extra by our customer service team which will be charged to your card. </li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-extraHelper" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">What is an extra helper </h4>
                </div>

                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>If you select an extra driver your driver will bring an extra worker with him to help with the work. You should select this service if you have items that you think will be too big for one man to load and unload. </li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-deliveryDate" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">I don’t have a confirmed delivery date is there a way I can change it </h4>
                </div>

                <div class="modal-body">
                          <hr>
                              <ol>
                                <li>If you don’t currently have a firm delivery date you can select a date you think is most likely going to be the correct date. You can then change this later on by call the customer service team, which they will be able to do immediately free of charge</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-driverContact" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">How do I get In contact with my driver</h4>
                </div>

                <div class="modal-body">

                              <ol>
                                <li>Once you have processed a booking, we will allocate a driver that is best suited to complete your job. Once this is done you will get a automatic email that will give you all the relevant details for your driver including his work mobile number. You can use this to update information and to get help with anything you need</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>

     <!-- ItemQTY FAQ-------------------------------------------------------------------------------------------->
    <div id="mod-driverSignup" tabindex="-1" role="dialog" class="modal fade colored-header">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">I am A driver how do I start to do deliveries for Vanclub</h4>
                </div>
                <div class="modal-body">

                              <ol>
                                <li>Of you would like to sign up to complete work with thevanclub the please click <a href="/driver-signup">here</a> and fill out the form. After we have vetted your application we will then get in touch and set you up with your driver app</li>
                              </ol>
                </div>
            </div>
        </div>
    </div>



































</body>
