<body>
    <div class="am-wrapper am-nosidebar-left">
        <nav class="navbar navbar-default navbar-fixed-top am-top-header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="page-title">
                        <span>Moverslite</span>
                    </div>
                    <a href="/instant" class="navbar-brand"></a>
                </div>
                <a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed">
                    <span class="icon s7-menu"></span>
                </a>
                <div id="am-navbar-collapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right am-user-nav">
                        <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="angle-down s7-menu"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#" ng-click="logout()"> <span class="icon s7-power"></span>Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="am-content">

        </div>

    </div>

</body>
